/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.tab{
    color: white;
}

li ,.texto {
     font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 14pt;
}

.topo-fixo {
    position: fixed;
    top: 0;
    z-index: 5;
}

.tabs .tab .indicator {
    color: white  !important;
}

.tabs .tab a.active {
    color: white  !important;
}

.tabs .tab a:hover {
   color: white  !important;
}

.tabs .tab a {
    color: white  !important;
}

.card-title{
     font-family: GillSans, Calibri, Trebuchet, sans-serif !important;
    font-size: 16pt !important;
}