.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

li ,.texto {
     font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 14pt;
}

.topo-fixo {
    position: fixed;
    top: 0;
    z-index: 5;
}

.stylefatec {
    background-color: #323B42 !important;
    color: white;
}
.headerTab {
    background-color: #8D191A;
}

.bodyTab {
    background-color: white;
    color: black !important;
}

.notas {
 background-color: whitesmoke;
 color: black;
}

#logo-container{
    color: white;
    font-weight: bold;
     text-shadow: black 0.1em 0.1em 0.2em;
}
.tabs .tab .indicator {
    color: black  !important;
}

.tabs .tab a.active {
    color: white  !important;
}

.tabs .tab a:hover {
   color: white  !important;
}

.tabs .tab a {
    color: white  !important;
}

#MATERIAL ul span{
font-weight: bold;    
}

#MATERIAL a,#biblioteca{
    color:black ;
}
#MATERIAL a:hover, #biblioteca:hover{
    color:#8D191A;
    font-weight: bold;  

}

img{
    width: 100%;
}

.section {
    padding-top: 75px;
}

.flow-text{
    text-align: justify;
}